<div class="row">
	<div class="col-md-8 col-md-offset-2 card" style="padding: 24px 30px; margin-bottom: 15px;">
		<h2 class="grey70" style="margin: 0; margin-bottom: 10px;">{{title}}</h2>
		<p class="grey50" style="font-size: 11pt;">Posted by {{author}} at {{pub_date}}</p>
		<p class="grey80" style="font-size: 12pt; word-wrap: break-word;">{{preview}}</p>
		<span class="grey50" style="font-weight: bold;">{{tag}}</span>
		<a href="/articles/{{id}}" class="material-link" style="float: right;">READ</a>
	</div>
</div>